Options All -Indexes

#RewriteEngine on

#RewriteBase /lorem-php-master-framework-updated/

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+)/?$ index.php?page=$1 [QSA,L]